*{
    margin: 0;
    padding: 0;   
}
body{
   
   background: #1e1949c7;
}
#slider {
   margin: 10vh auto;
    width: 64vw;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }

 img{
   width: 55rem;
   height: 32rem;
     border-radius: 2%;
 }
 #slides {
   background: #4f4b70;
    padding: 10px;
    
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
 }
 #slides .slide {
   
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
 }
 .other{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }

 #text {
   width: 20%;
   margin-left: 20px;
   
   position: relative;
   z-index: 1;
}
#overflow-text{
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #controls .inner-text{
   margin-left: 0;
}
#slide2:checked ~ #controls .inner-text {
   margin-left: -100%;
}
#slide3:checked ~ #controls .inner-text {
   margin-left: -200%;
}
#slide4:checked ~ #controls .inner-text {
   margin-left: -300%;
}
#text .inner-text {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 30px;
   height: 30px;
}
.text-item{
   color: rgb(255, 255, 255);
   font-family: 'ZCOOL KuaiLe', cursive;
}
#text .slide-text {
   
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
#controls{
   display: flex;
   justify-content: space-between;
    align-items: flex-end;
}
#dots {
   margin: 20px 15px 0 0;
   text-align: end;
}
#dots label {
   display: inline-block;
   width: 13px;
   height: 13px;
   border-radius: 50%;
   background: #71abfe;
   border: 7px solid #4f4b70;
 
}
#dots label:hover{
   background-color: #ffffff;
   border: 7px solid #4f4b70;
}
#dots label:active{
  width: 11px;
  height: 11px;
  opacity: .5;
  background-color: rgb(255, 255, 255);
}
#slide1:checked ~ #controls label:nth-child(1),
#slide2:checked ~ #controls label:nth-child(2),
#slide3:checked ~ #controls label:nth-child(3),
#slide4:checked ~ #controls label:nth-child(4) {
   background: rgb(0, 0, 0);
   border: 2px solid  #71abfe;
   margin: 5px;
}
@media screen and (min-width: 1900px){
   img {
      width: 70rem;
      height: 35rem;
   }
   #dots {
      margin: 20px 50px 0 0;
      text-align: end;
  }
  #text .slide-text {
  
   justify-content: flex-start;
}
#text {
   margin-left: 60px;
}
}


@media screen and (max-width: 900px) {

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}
@media screen and (max-width: 650px){
   #controls {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
   #slider {
      width: 100vw;  
      margin: 30px auto;
  }
  #slides{
   max-width: calc(100% - 90px);
   margin: 0 auto;
  }
  img {
   width: 75vw;
   height: 300px;
}
#dots {
   margin: 15px 15px 0 0;
   text-align: center;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#dots label {
   width: 8px;
   height: 8px;
}
#dots label:active{
   width: 8px;
   height: 8px;
   opacity: .5;
   background-color: rgb(255, 255, 255);
 }
#text {
   margin-top: 25px;
   width: 100%;
   margin-left: 0;
   background: none;
}
}
@media screen and (max-width: 380px){
   #slider {
      width: 100vw;  
      margin: 30px auto;
  }
  #slides{
   max-width: calc(100% - 90px);
   margin: 0 auto;
  }
  img {
   width: 75vw;
   height: 300px;
}
#dots {
   margin: 15px 15px 0 0;
   text-align: center;
}
#dots label {
   width: 8px;
   height: 8px;
}
#text {
   margin-top: 25px;
   width: 100%;
   margin-left: 0;
   background: none;
}
}